{% extends "base.html" %}

{% block title %}

Dashboard

{% endblock %}

{% block content %}

<h1 class="mb-4">

Expense Management

</h1>

{% if messages %}
    {% for message in messages %}

       <div class="alert alert-success">
    {{ message }}
</div>

    {% endfor %}
{% endif %}

{% include "dashboard/components/summary_cards.html" %}

{% include "dashboard/components/income_form.html" %}

{% include "dashboard/components/expense_form.html" %}

{% include "dashboard/components/expense_table.html" %}

{% endblock %}