{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

    {% include "dashboard/components/summary_cards.html" %}

    <div class="row">

        <div class="col-lg-4">
            {% include "dashboard/components/income_form.html" %}
        </div>

        <div class="col-lg-8">
            {% include "dashboard/components/expense_form.html" %}
        </div>

    </div>

    <div class="mt-5">
        {% include "dashboard/components/expense_table.html" %}
    </div>

{% endblock %}