<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charts</title>
</head>
<body>
    <div class="row mt-5">

    <div class="col-lg-8 mb-4">

        <div class="card border-0 shadow-sm rounded-4 h-100">

            <div class="card-body">

                <h4 class="mb-4">

                    Monthly Expense Trend

                </h4>

                <canvas id="monthlyChart"></canvas>

            </div>

        </div>

    </div>

    <div class="col-lg-4 mb-4">

        <div class="card border-0 shadow-sm rounded-4 h-100">

            <div class="card-body">

                <h4 class="mb-4">

                    Expense Categories

                </h4>

                <canvas id="categoryChart"></canvas>

            </div>

        </div>

    </div>

</div>
    
</body>
</html>