<div class="card shadow-sm border-0 rounded-4">

    <div class="card-body">

        <h4 class="mb-4">

            Add Expense

        </h4>

        <form method="POST">

            {% csrf_token %}

            <div class="mb-3">

                <label class="form-label">

                    Expense Title

                </label>

                <input
                    type="text"
                    name="title"
                    class="form-control"
                    required>

            </div>

            <div class="row">

                <div class="col-md-6">

                    <div class="mb-3">

                        <label class="form-label">

                            Amount

                        </label>

                        <input
                            type="number"
                            class="form-control"
                            name="amount"
                            step="0.01"
                            min="0"
                            required>

                    </div>

                </div>

                <div class="col-md-6">

                    <div class="mb-3">

                        <label class="form-label">

                            Category

                        </label>

                        <select
                            class="form-select"
                            name="category">

                            <option value="food">🍔 Food</option>
                            <option value="shopping">🛒 Shopping</option>
                            <option value="transport">🚕 Transport</option>
                            <option value="bills">🧾 Bills</option>
                            <option value="other">Other</option>

                        </select>

                    </div>

                </div>

            </div>

            <div class="mb-4">

                <label class="form-label">

                    Expense Date

                </label>

                <input
                    class="form-control"
                    type="date"
                    name="date"
                    required>

            </div>

            <button
                class="btn btn-primary w-100">

                Add Expense

            </button>

        </form>

    </div>

</div>