<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-white shadow-sm px-4">

    <div class="container-fluid">

        <a class="navbar-brand fw-bold">

            Expense Tracker

        </a>

        <div class="ms-auto d-flex align-items-center">

            <span class="me-3">

                Welcome,

                <strong>

                    {{ request.user.username }}

                </strong>

            </span>

            <a href="{% url 'logout' %}"
               class="btn btn-outline-danger btn-sm">

                Logout

            </a>

        </div>

    </div>

</nav>
</body>

</html>