{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar</title>
</head>

<body>
    <div class="col-lg-2 col-md-3 sidebar">

    <div class="sidebar-header">

        <h3>

            ExpenseTracker

        </h3>

    </div>

    <ul class="nav flex-column">

        <li class="nav-item">

            <a class="nav-link active"
               href="{% url 'manage' %}">

                <i class="bi bi-grid-fill"></i>

                Dashboard

            </a>

        </li>

        <li class="nav-item">

            <a class="nav-link"
               href="{% url 'dashboard' %}">

                <i class="bi bi-bar-chart-fill"></i>

                Analytics

            </a>

        </li>

        <li class="nav-item">

            <a class="nav-link logout-link"
               href="{% url 'logout' %}">

                <i class="bi bi-box-arrow-right"></i>

                Logout

            </a>

        </li>

    </ul>

</div>
</body>

</html>